body{
	background: aqua;
}
#maindiv{
	background: pink;
	display:flex;
	justify-content: space-around;
	margin: 10%;
	border-radius: 5%;
}
.subdiv{
	background: bisque;
	margin: 3%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	width:25%;

}
img{
	margin:5%;
	border-radius: 4%;
	height:45%;
	width:70%;
}